{% extends 'base.html' %}

{%block titulo_conteudo %} Detalhes do Cliente: {% endblock %}

{% block conteudo %} 

    <label for="id_categoria">ID:</label>
    <span class="form-control" style="margin-bottom: 0.6rem;">{{ cliente.id }}</span>

    <label for="id_nome">Nome:</label>
    <span class="form-control" style="margin-bottom: 0.6rem;">{{ cliente.nome }}</span>

    <label for="id_ordem">C.P.F:</label>
    <span class="form-control" style="margin-bottom: 0.6rem;">{{ cliente.cpf }}</span>

    <label for="id_ordem">Data de Nascimento:</label>
    <span class="form-control" style="margin-bottom: 0.6rem;">{{ cliente.datanascimento }}</span>

    <button type="submit" class="btn btn-secondary" onclick="location.href='{% url 'listaCliente' %}'">Voltar</button>

{% endblock %}
