{% extends 'base.html' %}

{% block titulo_conteudo %}

    Listagem de Categorias

{% endblock titulo_conteudo %}

{% block conteudo %}
    <div class="barrabotoes">
        <button type="button" class="btn btn-success btn-sm" onclick="location.href='{% url 'form_categoria' %}'">Novo Categoria</button> 
        <button type="button" class="btn btn-info btn-sm" onclick="location.href='{% url 'lista' %}'">Recarregar</button> 
        </div>
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col" style="text-align: center; vertical-align: middle;">ID</th>
                <th scope="col" style="text-align: center; vertical-align: middle;">Descrição</th>
                <th scope="col" style="text-align: center; vertical-align: middle;">Ordem</th>
                <th scope="col" style="vertical-align: middle;">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for categoria in lista %}
            <tr>
                <td style="text-align: center; vertical-align: middle;">{{categoria.id}}</td>
                <td style="vertical-align: middle;">{{categoria.nome}}</td>
                <td style="text-align: center; vertical-align: middle;">{{categoria.ordem}}</td>
                <td style="vertical-align: middle;">
                    <button type="button" class="btn btn-info" onclick="location.href='{% url 'detalhe_categoria' categoria.id%}'">Detalhes</button>
                    <button type="button" class="btn btn-warning" onclick="location.href='{% url 'editar_categoria' categoria.id %}'">Alterar</button>
                    <button type="button" class="btn btn-danger" onclick="confirmClose('{% url 'remover_categoria' categoria.id %}')">Excluir</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script> 
        function confirmClose(url) {
            const confirmar = confirm("Confirme para excluir a categoria selecionada?");
            if (confirmar) {
                window.location.href = url; 
            }
        }
    </script>
    
{% endblock conteudo %}
