{% extends 'base.html' %}

{%block titulo_conteudo %} Detalhes do Produto: {% endblock %}

{% block conteudo %} 

    <label for="id_categoria">ID:</label>
    <span class="form-control" style="margin-bottom: 0.6rem;">{{ produto.id }}</span>

    <label for="id_nome">Nome:</label>
    <span class="form-control" style="margin-bottom: 0.6rem;">{{ produto.nome }}</span>

    <label for="id_ordem">Preço(R$):</label>
    <span class="form-control" style="margin-bottom: 0.6rem;">{{ produto.preco }}</span>

    <label for="id_ordem">Categoria:</label>
    <span class="form-control" style="margin-bottom: 0.6rem;">{{ produto.categoria }}</span>

    <label for="id_ordem">Estoque (Und):</label>
    <span class="form-control" style="margin-bottom: 0.6rem;">{{ produto.estoque.qtde }}</span>
    
    <label for="id_ordem">Imagem:</label>
    <span class="form-control" style="margin-bottom: 0.6rem;"><img src="{{ produto.img_base64 }}" width="200" height="200"></span>

    <button class="btn btn-secondary" type="button" onclick="location.href='{% url 'listaProduto' %}'"> Voltar </button>
    
{% endblock %}


