{% extends 'base.html' %}

{% block titulo_conteudo %} Listagem dos Produtos {% endblock titulo_conteudo %}

{% block conteudo %}
    <div class="barrabotoes">
        <button type="button" class="btn btn-success btn-sm" onclick="location.href='{% url 'form_produto' %}'">Novo Produto</button> 
        <button type="button" class="btn btn-info btn-sm" onclick="location.href='{% url 'listaProduto' %}'">Recarregar</button> 
        </div>
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col" style="text-align: center; vertical-align: middle;">ID</th>
                <th scope="col" style="text-align: center; vertical-align: middle;">#</th>
                <th scope="col" style="text-align: center; vertical-align: middle;">Nome</th>
                <th scope="col" style="text-align: center; vertical-align: middle;">Preço(R$)</th>
                <th scope="col" style="text-align: center; vertical-align: middle;">Categoria</th>
                <th scope="col" style="text-align: center; vertical-align: middle;">Qtde</th>
                <th scope="col" style="vertical-align: middle;">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for produto in listaProduto %}
            <tr>
                <td style="text-align: center; vertical-align: middle;">{{produto.id}}</td>
                <td style="text-align: center; vertical-align: middle;"><img src="{{ produto.img_base64 }}" width="55px" height="auto"></td>
                <td style="vertical-align: middle;">{{produto.nome}}</td>
                <td style="text-align: center; vertical-align: middle;">{{produto.preco}}</td>
                <td style="text-align: center; vertical-align: middle;">{{produto.categoria}}</td>
                <td style="text-align: center; vertical-align: middle;">{{ produto.estoque.qtde }}</td>
                <td style="vertical-align: middle;">
                    <button type="button" class="btn btn-info" onclick="location.href='{% url 'detalhe_produto' produto.id%}'">Detalhes</button>
                    <button type="button" class="btn btn-success" onclick="location.href='{% url 'ajustar_estoque' produto.id%}'">Estoque</button>
                    <button type="button" class="btn btn-warning" onclick="location.href='{% url 'editar_produto' produto.id %}'">Alterar</button>
                    <button type="button" class="btn btn-danger" onclick="confirmClose('{% url 'remover_produto' produto.id %}')">Excluir</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script> 
        function confirmClose(url) {
            const confirmar = confirm("Confirme para excluir a categoria selecionada?");
            if (confirmar) {
                window.location.href = url; 
            }
        }
    </script>
    
{% endblock conteudo %}
