{% extends 'base.html' %}

{%block titulo_conteudo %} Detalhes do Pedido #{{pedido.id}} {% endblock %}

{% block conteudo %} 

    <p><strong>Cliente:</strong> {{ pedido.cliente.nome }}</p>
    <p><strong>Data do Pedido:</strong> {{ pedido.data_pedidof }}</p>
    <p><strong>Status:</strong> {{ pedido.get_status_display }}</p>

    <hr>

    <h5>Adicionar Produto</h5>
    <form method="POST">
        {% csrf_token %}
        <p>
        <label for="id_produto_nome">Produto:</label>    
        <input type="text" class="form-control autocomplete" 
                id="id_produto_nome" 
                data-url="{% url 'buscar_dados' 'home.Produto' %}" 
                value="{{item_pedido.produto.nome}}" 
                data-hidden="#id_produto" >
        </p>
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary btn-sm">Salvar Produto</button>
        <button type="button" onclick="location.href='{% url 'form_pagamento' pedido.id %}'" class="btn btn-primary btn-sm">Registrar Pagamento</button>
    </form>

    <hr>

    <h5>Itens do Pedido</h5>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col" style="text-align: center; vertical-align: middle;">ID</th>
                <th scope="col" style="text-align: center; vertical-align: middle;">#</th>
                <th style="vertical-align: middle;">Produto</th>
                <th style="text-align: center; vertical-align: middle;">Quantidade</th>
                <th style="text-align: center; vertical-align: middle;">Preço Unitário (R$)</th>
                <th style="text-align: center; vertical-align: middle;">Total (R$)</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for item in pedido.itempedido_set.all %}
            <tr>
                <td style="text-align: center; vertical-align: middle;">{{ item.produto.id }}</td>
                <td style="text-align: center; vertical-align: middle;"><img src="{{ item.produto.img_base64 }}" width="55px" height="auto"></td>
                <td style="vertical-align: middle;">{{ item.produto.nome }}</td>
                <td style="text-align: center; vertical-align: middle;">{{ item.qtde }}</td>
                <td style="text-align: center; vertical-align: middle;">{{ item.preco }}</td>
                <td style="text-align: center; vertical-align: middle;">{{ item.calculoTotal }}</td>
                <td style="vertical-align: middle;">
                  <a onclick="location.href='{% url 'editar_item_pedido' item.id %}'" class="btn btn-warning btn-sm">Editar</a>
                  <a onclick="confirmClose('{% url 'remover_item_pedido' item.id %}')" class="btn btn-danger btn-sm" >Remover</a>
                </td>         
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <hr>

    <h5>Pagamento(s)</h5>
    <table class="table table-hover">
        <thead>
            <tr>
            <th>ID</th>
            <th>Valor (R$)</th>
            <th>Forma</th>
            <th>Data</th>
            <th>Ações</th>
            </tr>
        </thead>
        <tbody>
        {% for pagamento in form.instance.pedido.pagamentos %}
            <tr>
            <td>{{ pagamento.id }}</td>
            <td>{{ pagamento.valor }}</td>
            <td>{{ pagamento.get_forma_display }}</td>
            <td>{{ pagamento.data_pgtof }}</td>
    
    
            <td>
                <a href="" class="btn btn-warning btn-sm">Editar</a>
                <a onclick="confirmClosthejoaove('{% url 'remover_pagamento' pagamento.id %}')" class="btn btn-danger btn-sm" 
                >Excluir</a>
            </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>

    <hr>

    <p><strong>Total de Pedidos: R$</strong> {{ pedido.total }}</p>
    <p><strong>Total de Pago: R$</strong> {{ pedido.total_pago }}</p>
    <p><strong>Débito: R$</strong> {{ pedido.debito }}</p>
    


    <button type="submit" class="btn btn-secondary" onclick="location.href='{% url 'listaPedido' %}'">Voltar</button>


    <script> 
        function confirmClose(url) {
            const confirmar = confirm("Tem certeza que deseja remover este item?");
            if (confirmar) {
                window.location.href = url; 
            }
        }
    </script>

{% endblock conteudo %}


